@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&family=ABeeZee:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.ki-kai-text {
		@apply text-lg leading-relaxed mb-8;
	}

	.ki-kai-text strong.font-merienda {
		@apply text-2xl text-red-600 font-bold;
	}

	.container {
		@apply mx-auto max-w-[1920px];
	}
}

@layer base {
	html {
		font-family: "ABeeZee", sans-serif;
		font-size: 16px;
		line-height: 1.8;
	}

	p {
		margin-bottom: 1.5rem;
		font-size: 1.125rem;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: "Merienda", cursive !important;
		margin-top: 2rem;
		margin-bottom: 1.5rem;
	}

	ul,
	ol {
		margin-bottom: 1.5rem;
	}

	li {
		margin-bottom: 0.75rem;
		font-size: 1.125rem;
	}

	ul.ki-kai-list li {
		@apply relative pl-6;
	}

	ul.ki-kai-list li::before {
		content: "•";
		@apply absolute left-0 text-red-600 text-lg;
	}

	@screen md {
		html {
			font-size: 17px;
		}

		p,
		li {
			font-size: 1.15rem;
		}
	}
}
